body {
  margin-left: 300px;
  margin-right: 300px;
  background-color: black;
  color: white;
}
.results {
  text-align: center;
}
#buttons {
  text-align: center;
  padding: 10px;
}
#score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span {
  display: flex;
  justify-content: center;
}
button {
  margin: 25px;
  width: 200px;
  cursor: pointer;
  border-radius: 12px;
  background-color: lightblue;
}
